In [1]:
import numpy as np
import pandas as pd

In [2]:
## Download from arm.gov
## Read 2014 file
filepath='/home/chetan/Research/Amazon/ARM_data/armbeatm/ascii-csv/'
filename='maoarmbeatmM1.c1.20140101.003000.csv'
df1=pd.read_csv(filepath+filename)

In [3]:
## Read 2015 file
filename2='maoarmbeatmM1.c1.20150101.003000.csv'
df2=pd.read_csv(filepath+filename2)

In [4]:
# Concatenate df1, df2
df = pd.concat([df1,df2], ignore_index=True)

In [5]:
## Drop the unnecessary columns 
df.drop(['base_time', 'time_offset', 'height_10m', 'height_2m',
          'latent_heat_flux_baebbr', 'sensible_heat_flux_baebbr', 'lat', 'lon', 'alt'], axis='columns', inplace=True)

In [6]:
## update time object  into pandas datetime 
df['time']=pd.to_datetime(df.time)
## convert UTC into local time
df['local_time']=df['time'].dt.tz_localize('UTC').dt.tz_convert('America/Manaus')
df['year']=df.local_time.dt.year ## takes year
df['month']=df.local_time.dt.month  ## takes month
df['day']=df.local_time.dt.day ## takes year
df['hour']=df.local_time.dt.hour  ## takes hour, and add to column hour

In [7]:
## let's map integer month into string month
df['month_name'] = df['month'].map({
    1: 'January',
    2: 'February',
    3: 'March',
    4: 'April',
    5: 'May',
    6: 'June',
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
})

In [8]:
## let's separate into seasons
# Define the bins for different time periods
bins = [1, 5, 9, 12]  # wet season, Dry season, Dry-to-wet:transition

# Create labels for the time periods
labels = ['wet', 'dry', 'transition']

# Use pd.cut to categorize the hours into time periods
df['season'] = pd.cut(df['month'], bins=bins, right=True, 
                           labels=labels, include_lowest=True,ordered=False)

In [9]:
## rearrange the order of columns
df=df[['time','local_time', 'year','month','day','hour', 'month_name','season',
 'u_wind_sfc', 'v_wind_sfc', 'relative_humidity_sfc',
       'pressure_sfc', 'precip_rate_sfc', 'temperature_sfc',
       'sensible_heat_flux_qcecor', 'latent_heat_flux_qcecor' ]]

In [10]:
## Check the dataframe
df

,time,local_time,year,month,day,hour,month_name,season,u_wind_sfc,v_wind_sfc,relative_humidity_sfc,pressure_sfc,precip_rate_sfc,temperature_sfc,sensible_heat_flux_qcecor,latent_heat_flux_qcecor
0,2014-01-01 00:30:00,2013-12-31 20:30:00-04:00,2013,12,31,20,December,transition,-1.070984,0.580337,91.289970,1003.36664,0.028291,299.68698,NaN,NaN
1,2014-01-01 01:30:00,2013-12-31 21:30:00-04:00,2013,12,31,21,December,transition,-0.075736,0.055618,93.780310,1004.09717,0.059211,299.12262,NaN,NaN
2,2014-01-01 02:30:00,2013-12-31 22:30:00-04:00,2013,12,31,22,December,transition,-0.089113,-0.076806,97.027880,1003.93410,0.090130,298.24840,NaN,NaN
3,2014-01-01 03:30:00,2013-12-31 23:30:00-04:00,2013,12,31,23,December,transition,-0.761594,-0.456235,98.137710,1003.50104,0.087992,297.55963,NaN,NaN
4,2014-01-01 04:30:00,2014-01-01 00:30:00-04:00,2014,1,1,0,January,wet,-0.370673,-0.292567,98.429504,1003.06030,0.052795,296.91100,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2015-12-31 19:30:00,2015-12-31 15:30:00-04:00,2015,12,31,15,December,transition,NaN,NaN,NaN,NaN,0.351911,NaN,NaN,NaN
17516,2015-12-31 20:30:00,2015-12-31 16:30:00-04:00,2015,12,31,16,December,transition,NaN,NaN,NaN,NaN,0.117304,NaN,NaN,NaN
17517,2015-12-31 21:30:00,2015-12-31 17:30:00-04:00,2015,12,31,17,December,transition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17518,2015-12-31 22:30:00,2015-12-31 18:30:00-04:00,2015,12,31,18,December,transition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17519,2015-12-31 23:30:00,2015-12-31 19:30:00-04:00,2015,12,31,19,December,transition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
## Save the merged data
#df.to_csv('/home/chetan/Desktop/UMBC/Data_601/project1/maoarmbeatmM1.c1.2014_2015.csv', index=False)